@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Work Sans Bold';
  src: url('assets/fonts/work_sans/WorkSans-Bold.ttf');
}

@font-face {
  font-family: 'Work Sans semibold';
  src: url('assets/fonts/work_sans/WorkSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Work Sans semibold';
  src: url('assets/fonts/work_sans/WorkSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Work Sans Regular';
  src: url('assets/fonts/work_sans/WorkSans-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Work Sans Regular',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  overflow-x: hidden;
}
